
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style:normal;
  font-variation-settings:
    "wdth" 100;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    
    font-family: "Montserrat";
    color:  #25a2c3 ;
    line-height: 1.5;
}
h1{
    font-size: 2rem;
    
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.25rem;
}
body{
    text-align: center;
    font-family: "Open Sans" ;
    font-size: 1.2rem;
    color: #393d41;
    line-height: 1.65 ;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#logo img{
    margin-top: 30px;
    width: 150px;
}
 #logo{
    background-color: black;
    height: 120px;
 }
.sottoheader h1{
    line-height: 1;
    

    padding-top: 40px;
    display: inline-block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.sottoheader{
    display: grid;
    height: 320px;
    text-align: center;
    background-image: url(/MOBILE-VERSION/assets/img/banner.jpg);
    background-size: 100%;
    background-position: center;
    margin-bottom: 20px;
    background-repeat: no-repeat;
}
.sottoheader p{
  
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 10px;
   margin-bottom: 30px;
   

}
.sottoheader button{
    cursor: pointer;
    background-color: #f04c2f  ;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 100%;
    color: white;
    border-radius: 5px;
    border-color: #f04c2f;
    height: 3rem;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0;
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 55px; 
    text-align: center;
    
}
main{
    margin-bottom: 80px;
}
main h3{
    padding-top: 20px ;
    padding-bottom: 20px;
}
.primasezione{
    display: inline-block;
    margin-top: 20px;
    width: 80%;
    margin-bottom: 70px;
}
.primasezione img{
    width: 300px;
    margin-top: 20px;
border-radius:50% 50% 50% 50% / 50% 50% 50% 50%  ;
}
.middle{
    color: white;
    background-color:#e22d0e ;
    padding-top:50px ;
    padding-bottom:50px ;
    
}
.middle h2{
font-size: 2.2rem;
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}
.middle h2>p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    padding-bottom: 20px;
}
.middle span{
    font-size: 0.8rem;
}
.foto1 img{
    width: 100%;
}
.foto1{
    width: 450px;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 50px;
    margin-bottom: 30px;
    border-style: solid;
    border-color: gainsboro;
    border-width: 1px;
}
.foto1 p{
    padding-left:45px ;
    padding-right: 45px;
    padding-bottom: 45px;
}
.foto1 a{
   text-decoration: none;
   color: inherit; 
}
footer{
    background-color:#25a2c3 ;
    color: white;
    padding-bottom: 50px;
}
footer h2{
    font-size: 2.3rem;
    color: white;
    padding-top:40px ;
    padding-bottom: 15px;
}
footer a{
    text-decoration: none;
    color: inherit;
}
footer div{
    margin-left:130px ;
    margin-right: 130px;
    margin-top:30px ;
    margin-bottom: 30px; ;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}
.linksotto{
    text-decoration: underline;
}
footer p a{
    text-decoration: underline;
}
footer i{
    margin-right: 5px;
}
